:root {--soft-bg: #3f3f3f;}

.event {

  &-list {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  padding-top: 1rem;
  margin-bottom: 1rem;
  border-top: 2px solid var(--soft-bg);

  @media (min-width: 800px) {
    display: flex;
  }

  &[data-end] {
    opacity: .5;
  }

  &:first-child,
  &__section-title + & {
    border-top: 0;
  }

  &__section-title {
    text-align: center;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    background-color: var(--soft-bg);
    padding: .5rem;
    margin: 2rem 0 .5rem;
  }

  &__date {
    flex-shrink: 0;
    line-height: 1.4;
    margin-bottom: .5rem;

    @media (min-width: 800px) {
      width: 10rem;
      margin-bottom: 0;
    }
  }

  &__day {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__week-day {
    font-size: 0.8rem;
    opacity: .6;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    display: inline-block;
    margin-right: .5rem;
    @media (min-width: 800px) {
      display: block;
      margin-right: 0;
    }
  }

  &__time {
    font-size: .8rem;
    opacity: .6;
    display: inline-block;
    margin-right: .5rem;
    @media (min-width: 800px) {
      display: block;
      margin-right: 0;
    }
  }

  &__end {
    background-color: #d60a0a;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    display: inline-block;
    margin-bottom: .3rem;
  }

  &__content {
    font-size: 1rem;
  }

  &__title {
    display: block;
    font-size: 1.5rem;
  }

  &__sub {
    font-size: 0.6rem;
    opacity: .6;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
  }

  &__desc {
    font-size: .8rem;
    margin-top: .5rem;
    opacity: .6;
  }

  &__cta-wrapper {
    text-align: center;
  }

  &__desc-trigger{
    color: inherit;
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    &.is-hidden {
      display: none;
    }
  }

  &__desc-hidden {
    display: none;
  }
}