<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex align-start ]">
      <span class="site-foot__element">
        &copy; Daus del Triangle
      </span>
      <a class="site-foot__element" href="http://eepurl.com/hdJv6f" target="_blank">
        Newsletter
      </a>
      <a class="site-foot__element" href="/contacte">
        Contacte
      </a>
    </div>
  </div>
</footer>
